@import "config/variables";

body{
    background-color: $color-fondo;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

// @import "scss/config/variables";
// @import "scss/base/base";
// @import "scss/layout/layout";
// @import "scss/components/header";



