<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Workflow</title>
</head>
<body class="logo">

    {{!-- {{> partials/navigation }} --}}

    {{!-- <h1>Bienvenidos</h1> --}}

        <a href="https://gonzaloelias.me/">
            <img src="static/img/logo.png" alt="Logo">
        </a>

    {{!-- {{> partials/footer }} --}}

</body>
</html>